/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header svg:hover path {
	fill: #f16d7f;
}

.offer_item:hover {
	background-color: rgba(33, 22, 22, 0.3);
}

.prod_img_button:hover {
	border-color: #f26376;
	cursor: pointer;
}

.prod_img_button:hover a {
	color: #f26376;
}

.prod_img_button:hover svg path {
	fill: #f26376;
}

.prod_img_container:hover img {
	opacity: 0.1;
}

.prod_img_container:hover .prod_img_button {
	opacity: 1;
}

.prod_button button:hover {
	color: #fff;
	background-color: #f26376;
	cursor: pointer;
}

.prod_button button:active {
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}

.sendform_container button:hover {
	color: #f26376;
	background-color: #fff;
	cursor: pointer;
}

.sendform_container button:active {
	-webkit-transform: scale(0.98);
	-ms-transform: scale(0.98);
	transform: scale(0.98);
}

.footer_link_block:hover {
	cursor: pointer;
	background-color: #f16d7f;
}
.footer_link_block:hover svg path {
	fill: #ffffff;
}

.footer_link_block:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

.feature_item svg:first-child {
	display: none;
}

.feature_item:hover {
	position: relative;
}

.feature_item:hover svg:first-child {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	scale: 1.1;
	display: inline-block;
	position: absolute;
}
