@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - 1600px / 2);
	padding-right: calc(50% - 1600px / 2);
}

.center_content {
	padding-left: calc(50% - 1140px / 2);
	padding-right: calc(50% - 1140px / 2);
}

.center_bottom {
	padding-left: calc(50% - 1140px / 2);
	padding-right: calc(50% - 1140px / 2);
}

.header {
	padding-top: 19px;
	padding-bottom: 18px;
	background-color: #222;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header svg path {
	transition: fill 0.2s ease-out;
}

.header_logo {
	display: flex;
	gap: 41px;
	align-items: center;
}

.header_menu {
	display: flex;
	align-items: center;
	gap: 33px;
}

.header_menu a:last-child {
	position: relative;
}

.header_menu a:last-child::after {
	content: "5";
	background-color: #f16d7f;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	text-align: center;
	top: -25%;
	left: 70%;
	color: #fff;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
}

.headear_menu_link {
	font-family: Gilroy-SemiBold;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #000;
}

.rosecheeks_text {
	color: #f26376;
}

.top {
	display: flex;
	align-items: center;
	gap: 63px;
	background-color: #f1e4e6;
}

.top img {
	width: 50%;
}

.top_content {
	display: flex;
	align-items: center;
	gap: 16px;
}

.top_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.top_title {
	color: #222;
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.top_text {
	color: #222;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer {
	display: grid;
	grid-template-rows: 260px 180px;
	grid-template-columns: repeat(3, 1fr);

	padding-top: 65px;
	padding-bottom: 65px;
	gap: 30px;
}

.offer_item {
	position: relative;
	display: flex;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: rgba(33, 22, 22, 0.7);
	background-position: center;
	background-size: cover;
	transition: background-color 0.2s ease-out;
}

.offer_content {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.offer_text {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.offer_title {
	color: #f16d7f;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer_img_1 {
	background-image: url(./img/offer_img_1.jpg);
}
.offer_img_2 {
	background-image: url(./img/offer_img_2.jpg);
}
.offer_img_3 {
	background-image: url(./img/offer_img_3.jpg);
}

.offer_item_big {
	background-image: url(./img/offer_img_4.jpg);
	grid-area: 2 / 1 / 3 / 4;
}

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 31px;
	padding-bottom: 60px;
}

.prod_header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prod_header h1 {
	color: #222;
	font-family: Lato;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_header p {
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_conteiner {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 49px;
	margin-bottom: 49px;
}

.prod_item {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	gap: 24px;
	background-color: #f8f8f8;
}

.prod_img_container {
	display: flex;
	background-color: rgba(58, 56, 56, 0.86);
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prod_img_container img {
	transition: opacity 0.4s ease-out;
}

.prod_img_button {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 11px;

	padding: 10px 15px;
	border: 1px solid #fff;
	opacity: 0;
	transition: opacity 0.3s ease-out, border-color 0.2s ease-out;
}

.prod_img_button a {
	color: #fff;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: transparent;
	transition: color 0.2s ease-out;
}

.prod_img_button svg path {
	transition: fill 0.2s ease-out;
}

.prod_content {
	padding: 0px 29px 20px 16px;
}

.prod_title {
	color: #000;
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 13px;
}

.prod_text {
	color: #5d5d5d;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 18px;
}

.prod_price {
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_button button {
	color: #f26376;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	padding: 15px 39px;
	border: 1px solid #ff6a6a;
	background-color: #fff;
	transition: color 0.4s ease-out, background-color 0.3s ease-out;
}

.feature {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #222224;
	padding-top: 104px;
	padding-bottom: 104px;
	gap: 25px;
}

.feature_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	min-width: 345px;
}

.feature_img_conteiner {
	display: flex;
	height: 40px;
	flex-direction: column;
	justify-content: center;
}

.feature_title {
	margin-top: 18px;
	color: #fbfbfb;
	text-align: center;
	font-family: Lato;
	font-size: 19.96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_text {
	margin-top: 16px;
	color: #fbfbfb;
	text-align: center;
	font-family: Lato;
	font-size: 13.972px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	max-width: 85%;
}

.subscribe {
	display: flex;
	align-items: flex-end;
	padding-top: 97px;
	padding-bottom: 156px;
	background-image: url(./img/subscribe_background.jpg);
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(244, 244, 244, 0.7);
	gap: 330px;
}

.subscribe_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
}

.subscribe_item:last-child {
	margin-right: 97px;
}

.subscribe_item img {
	width: 96px;
	height: 96px;
}

.subscribe_comment {
	margin-top: 30px;
	color: #222224;
	text-align: center;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subscribe_sendform_title {
	color: #222224;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 167.2%;
}

.subscribe_sendform_text {
	color: #222224;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 167.2%;
	margin-bottom: 32px;
}

.sendform_container {
	display: flex;
}

.sendform_container input {
	background-color: #e1e1e1;
	min-width: calc(256px - 23px);
	padding-left: 23px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	outline: none;
	border: none;
	padding: 19px 21px;
}
.sendform_container input::placeholder {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.sendform_container button {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: #f16d7f;
	padding: 19px 21px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 1px solid #ff6a6a;
	transition: color 0.4s ease-out, background-color 0.3s ease-out;
}

.italic_text {
	font-style: italic;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #222224;
	padding-top: 24px;
	padding-bottom: 23px;
}

.footer_text {
	color: #fbfbfb;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_link_conteiner {
	display: flex;
	gap: 7px;
}

.footer_link_block {
	background-color: #fff;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.4s ease-out, background-color 0.3s ease-out;
}

.footer_link_block svg path {
	transition: fill 0.2s ease-out;
}
