@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

.center {
	padding-left: calc(50% - 1600px / 2);
	padding-right: calc(50% - 1600px / 2);
}

.center_content {
	padding-left: calc(50% - 1140px / 2);
	padding-right: calc(50% - 1140px / 2);
}

.header {
	padding-top: 19px;
	padding-bottom: 18px;
	background-color: #222;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header svg path {
	transition: fill 0.2s ease-out;
}

.header svg:hover path {
	fill: #f16d7f;
}

.header_logo {
	display: flex;
	gap: 41px;
	align-items: center;
}

.header_menu {
	display: flex;
	align-items: center;
	gap: 33px;
}

.headear_menu_link {
	font-family: Gilroy-SemiBold;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #000;
}

.rosecheeks_text {
	color: #f26376;
}

.top {
	display: flex;
	align-items: center;
	gap: 63px;
	background-color: #f1e4e6;
}

.top img {
	width: 50%;
}

.top_content {
	display: flex;
	align-items: center;
	gap: 16px;
}

.top_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.top_title {
	color: #222;
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.top_text {
	color: #222;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer {
	display: grid;
	grid-template-rows: 260px 180px;
	grid-template-columns: repeat(3, 1fr);

	padding-top: 65px;
	padding-bottom: 65px;
	gap: 30px;
}

.offer_item {
	position: relative;
	display: flex;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: rgba(33, 22, 22, 0.7);
	background-position: center;
	background-size: cover;
}

.offer_content {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.offer_text {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.offer_title {
	color: #f16d7f;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.offer_img_1 {
	background-image: url(./img/offer_img_1.jpg);
}
.offer_img_2 {
	background-image: url(./img/offer_img_2.jpg);
}
.offer_img_3 {
	background-image: url(./img/offer_img_3.jpg);
}

.offer_item_big {
	background-image: url(./img/offer_img_4.jpg);
	grid-area: 2 / 1 / 3 / 4;
}

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 31px;
	padding-bottom: 60px;
}

.prod_header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prod_header h1 {
	color: #222;
	font-family: Lato;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_header p {
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_conteiner {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 49px;
	margin-bottom: 49px;
}

.prod_item {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	gap: 24px;
	background-color: #f8f8f8;
}

.prod_img_container {
	display: flex;
	background-color: rgba(58, 56, 56, 0.86);
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prod_img_container img {
	transition: opacity 0.4s ease-out;
}

.prod_img_button {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 11px;

	padding: 10px 15px;
	border: 1px solid #fff;
	opacity: 0;
	transition: opacity 0.3s ease-out, border-color 0.2s ease-out;
}

.prod_img_button button {
	color: #fff;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	background-color: transparent;
	transition: color 0.2s ease-out;
}

.prod_img_button svg path {
	transition: fill 0.2s ease-out;
}

.prod_img_button:hover {
	border-color: #f26376;
	cursor: pointer;
}

.prod_img_button:hover button {
	color: #f26376;
}

.prod_img_button:hover svg path {
	fill: #f26376;
}

.prod_img_container:hover img {
	opacity: 0.1;
}

.prod_img_container:hover .prod_img_button {
	opacity: 1;
}

.prod_content {
	padding: 0px 29px 20px 16px;
}

.prod_title {
	color: #000;
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 13px;
}

.prod_text {
	color: #5d5d5d;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 18px;
}

.prod_price {
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prod_button button {
	color: #f26376;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	padding: 15px 39px;
	border: 1px solid #ff6a6a;
	background-color: #fff;
	transition: color 0.4s ease-out, background-color 0.3s ease-out;
}

.prod_button button:hover {
	color: #fff;
	background-color: #f26376;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.center {
		padding-left: calc(50% - 770px / 2);
		padding-right: calc(50% - 770px / 2);
	}

	.center_content {
		padding-left: calc(50% - 735px / 2);
		padding-right: calc(50% - 735px / 2);
	}

	.top {
		gap: 39px;
	}

	.top_title {
		font-size: 44px;
	}

	.top_text {
		font-size: 24px;
	}

	.offer {
		grid-template-rows: 167px 116px;
	}

	.products {
		padding-top: 45px;
		padding-bottom: 70px;
	}

	.prod_conteiner {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin-top: 72px;
		margin-bottom: 32px;
	}
}

@media (max-width: 767px) {
	.disp_none {
		display: none;
	}

	.center {
		padding-left: calc(50% - 375px / 2);
		padding-right: calc(50% - 375px / 2);
	}

	.center_content {
		padding-left: calc(50% - 343px / 2);
		padding-right: calc(50% - 343px / 2);
	}

	.top {
		justify-content: center;
	}

	.top_content {
		margin-top: 148px;
		margin-bottom: 148px;
	}

	.top_title {
		font-size: 38px;
	}

	.top_text {
		font-size: 20px;
	}

	.offer {
		grid-template-rows: repeat(3, 248px) 111px;
		grid-template-columns: 1fr;
		padding-bottom: 32px;
	}

	.offer_item_big {
		grid-area: auto;
	}

	.products {
		padding-top: 32px;
		padding-bottom: 85px;
	}

	.prod_conteiner {
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: 1fr;
		margin-top: 64px;
		margin-bottom: 40px;
	}
}
